html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.color-back {
  background-color: #16a085;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.images {
  display: inline;
  margin: auto;
  width: 50%;
  padding: 7.5%;
}

.head-for-images {
  border-bottom-color: white;
  border-bottom-style: solid;
  border-bottom-width: thick;
}

iframe {
  margin-left: 20em;
  margin-top: 2em;
}
